body{
    position: static;
    display: grid;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(36, 16, 16);
    background-image: url("teglafal.jpg");
    margin: 0;
    padding: 0;
}

/*main*/
main{
    background-color: rgb(204, 175, 175);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "head art art";
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    
    
}
main,header,article{
    border: 1px solid gray ;
}
/*header*/
header{
    grid-area: head;

}
/*artical*/
article{
    grid-area: art;
}
article>p{
    padding: 10px;
    font-size: 20px;
}
/*nav bar*/
nav{
    
    position: fixed;
    padding-right: 100%;
    height: 60px;
}
nav>ul{
    width: 100%;
    gap: 70px;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
}
nav>ul>li>a{
    color: white;
}
a{
    color: #1d2221;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}
a:hover{
    transition: .5s;
    color: rgb(61, 60, 60);
}
/*footer*/
footer{
    color: white;
    position: fixed;
    width: 50%;
    bottom: 10px;   
}
/*span*/
span{
    font-weight: bold;
}
/*li torles*/
.torlesli{
    list-style-type:none ;
}
/*img*/
img{
    width: 100%;
}
.ocean{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
}
.erdokvizek{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
}
.erdokvizek>img{
    border-radius: 10px;
    margin-top: 10px;
}
.ocean>img{
    border-radius: 10px;
    margin-top: 10px;
}
.ocean>h2>a:hover{
    transition: .5s;
    color: rgb(0, 143, 148);
}
.erdokvizek>h2>a:hover{
    transition: .5s;
    color: rgb(0, 143, 148);
}

