
body{
    position: static;
    display: grid;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(36, 16, 16);
    background-image: url("teglafal.jpg");
    margin: 0;
    padding: 0;
}

/*main*/
main{
    background-color: rgb(204, 175, 175);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "head art art"
    "foo foo foo";
    width: 60%;
    margin-left: 10%;
    margin-top: 5%;
    
    
}
main,header,article,footer{
    border: 1px solid gray ;
}
/*header*/
header{
    grid-area: head;

}
/*artical*/
article{
    grid-area: art;
    background-color: rgb(204, 175, 175);
    margin-right: 10%;

}
article>p{
    padding: 10px;
    font-size: 20px;
}
/*footer*/
footer{
    grid-area: foo;
    
}
/*nav bar*/

nav{
    color: white;
    padding-right: 100%;
    height: 60px;
}
ul{
    width: 100%;
    gap: 70px;
    
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
}
article>ul{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}
a:hover{
    transition: .5s;
    color: rgb(61, 60, 60);
}

/*img*/
img{
    width: 350px;
}








/*Dani rész*/

/*artical*/
.daniart1{
    font-size: 18px;
    text-align: justify;
    margin: 30px;
    grid-area: dart1;
}

.daniart2{
    font-size: 18px;
    text-align: justify;
    margin: 30px;
    grid-area: dart2;
}

.darticle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "dart1 dart2";
    grid-area: dart;
}

.dkep{
    text-align: center;
}

/*header*/
.danihead{
    text-align: center;
    margin: 30px;
    grid-area: dhead;
    border: 5px solid black;
    border-radius: 10px;
}

/*main*/
.danimain{
    background-color: rgb(110, 7, 7);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "dhead dhead"
    "dart dart"
    "foo foo";
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;    
}
/*body*/
.danibody{
    position: static;
    display: grid;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
    background-image: url("bg.jpg");
    margin: 0;
    padding: 0;
}

/*footer*/
.dfooter{
    grid-area: foo;
    font-size: 20px;
    color: yellow;
}





/*Responziv*/

@media screen and (max-width: 1400px){

    /*artical*/
.daniart1{
    font-size: 15px;
    text-align: justify;
    margin: 30px;
    grid-area: dart1;
}

.daniart2{
    font-size: 15px;
    text-align: justify;
    margin: 30px;
    grid-area: dart2;
}

.darticle{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "dart1"
    "dart2";
    grid-area: dart;
}

/*header*/
.danihead{
    text-align: center;
    margin: 30px;
    grid-area: dhead;
    border: 5px solid black;
    border-radius: 10px;
}

/*main*/
.danimain{
    background-color: rgb(110, 7, 7);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "dhead dhead"
    "dart dart"
    "foo foo";
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;    
}

}


@media screen and (max-width: 700px){

    /*artical*/
.daniart1{
    font-size: 10px;
    text-align: justify;
    margin: 30px;
    grid-area: dart1;
}

.daniart2{
    font-size: 10px;
    text-align: justify;
    margin: 30px;
    grid-area: dart2;
}

.darticle{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "dart1"
    "dart2";
    grid-area: dart;
}

/*header*/
.danihead{
    text-align: center;
    margin: 30px;
    grid-area: dhead;
    border: 5px solid black;
    border-radius: 10px;
}

/*main*/
.danimain{
    background-color: rgb(110, 7, 7);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "dhead dhead"
    "dart dart"
    "foo foo";
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;    
}

/*img*/
img{
<<<<<<< HEAD
    width: 95%;
=======
    width: 250px;
>>>>>>> c99b9511d47fc7e890db1fb2789d493ff0a7cc62
}

}


@media screen and (max-width: 530px){

    /*artical*/
.daniart1{
    font-size: 6px;
    text-align: justify;
    margin: 30px;
    grid-area: dart1;
}

.daniart2{
    font-size: 6px;
    text-align: justify;
    margin: 30px;
    grid-area: dart2;
}

/*img*/
img{
    width: 150px;
}

}

.ocean{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
}
.erdokvizek{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
}
.erdokvizek>img{
    border-radius: 10px;
    margin-top: 10px;
}
.ocean>img{
    border-radius: 10px;
    margin-top: 10px;
}
.ocean>h2>a:hover{
    transition: .5s;
    color: rgb(0, 143, 148);
}
.erdokvizek>h2>a:hover{
    transition: .5s;
    color: rgb(0, 143, 148);
}

