@media only screen and (max-width: 800px) {
    main{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "sz"
    "head"
    "art"
    "foo";
    width: 65%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 15%;
    }
    img{
        width: 90%;
    }
    nav{
        padding-right: 10%;
    }
    article{
        font-size: 20px;
    }
    img{
        width: 95%;
    }
    
    .fokep1 img {
        display: none;
    }
    
}